@use './util' as u;

.about-section {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__image {
    order: -1;

    &--desktop {
      display: none;
    }
  }
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  color: var(--very-dark-desaturated-blue);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }

  &__heading {
    margin-bottom: u.rem(20);
    font-family: var(--ff-fraunces);
    font-size: u.rem(28);
    font-weight: 900;
    letter-spacing: u.rem(-1);
    line-height: 1.15;
  }

  &__description {
    margin-bottom: u.rem(26);
    font-family: var(--ff-barlow);
    font-size: u.rem(14);
    font-weight: 600;
    color: var(--dark-greyish-blue);
    line-height: 1.6;
  }

  &__learn-more-button {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: var(--ff-fraunces);
    font-size: u.rem(13);
    font-weight: 900;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus-visible {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: u.rem(1);
      z-index: -1;
      width: calc(100% + 14px);
      height: u.rem(8);
      margin-inline: auto;
      border-radius: 1000px;
      opacity: 0.3;
      transition: opacity 100ms linear;
    }

    &--yellow {
      &::before {
        background: var(--yellow);
      }
    }

    &--red {
      &::before {
        background: var(--soft-red);
      }
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 470px;
  padding: 46px 18px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top !important;
  text-align: center;

  & > * {
    max-width: 500px;
  }

  &--graphic-design {
    background: url('../../images/mobile/image-graphic-design.jpg');
    color: var(--dark-desaturated-cyan);
  }

  &--photography {
    background: url('../../images/mobile/image-photography.jpg');
    color: var(--dark-blue);
  }

  &__heading {
    margin-top: auto;
    margin-bottom: u.rem(20);
    font-family: var(--ff-fraunces);
    font-size: u.rem(22);
    font-weight: 900;
  }

  &__description {
    font-family: var(--ff-barlow);
    font-size: u.rem(13);
    font-weight: 600;
    letter-spacing: u.rem(-0.3);
    line-height: 1.6;
  }
}

@media screen and (min-width: 375px) {
  .services {
    &--graphic-design {
      background: url('../../images/desktop/image-graphic-design.jpg');
    }

    &--photography {
      background: url('../../images/desktop/image-photography.jpg');
    }
  }
}

@media screen and (min-width: 700px) {
  .text-box {
    padding: 155px 60px;

    &__heading {
      margin-bottom: u.rem(32);
      font-size: u.rem(40);
      letter-spacing: 0;
      line-height: 1.2;
    }

    &__description {
      margin-bottom: u.rem(40);
      font-size: u.rem(18);
      letter-spacing: u.rem(-0.25);
    }

    &__learn-more-button {
      font-size: u.rem(16);
    }
  }

  .services {
    min-height: 590px;
    padding: 56px 0;

    & > * {
      max-width: 320px;
    }

    &__heading {
      margin-bottom: u.rem(22);
      font-size: u.rem(28);
    }

    &__description {
      font-size: u.rem(16);
    }
  }
}

@media screen and (min-width: 1000px) {
  .about-section {
    &__container {
      flex-direction: row;

      &:first-child {
        .text-box {
          align-items: end;
          order: -1;
        }
      }
    }

    &__image {
      width: 50%;
      object-fit: cover;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }
  }

  .text-box {
    justify-content: center;
    align-items: start;
    width: 50%;
    text-align: start;

    &__container {
      align-items: start;
      max-width: 440px;
    }
  }

  .services {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .text-box {
    padding: 155px 110px;
  }
}
