@use './util' as u;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 62px 20px;
  background: var(--soft-teal);

  &__logo {
    max-width: 134px;
    margin-bottom: u.rem(30);
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    margin-bottom: u.rem(68);
  }

  &__page-link {
    font-family: var(--ff-barlow);
    font-size: u.rem(14);
    font-weight: 600;
    color: var(--dark-teal);
    text-decoration: none;
    transition: color 100ms linear;

    &:hover,
    &:focus-visible {
      color: var(--white);
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    transition: transform 150ms ease-in-out;

    &:hover,
    &:focus-visible {
      transform: translateY(-4px) scale(1.2);

      .socials__icon-fill {
        fill: var(--white);
      }
    }
  }

  &__icon {
    display: block;
    width: 100%;
    height: auto;
  }

  &__icon-fill {
    transition: fill 150ms ease-in-out;
  }
}

@media screen and (min-width: 700px) {
  .footer {
    padding: 70px 0;

    &__logo {
      width: 166px;
      max-width: unset;
      margin-bottom: u.rem(38);
    }

    &__nav {
      margin-bottom: u.rem(84);
    }

    &__page-link {
      font-size: u.rem(18);
    }
  }

  .socials {
    &__link {
      width: 20px;
      height: 20px;

      &:hover,
      &:focus-visible {
        transform: translateY(-5px) scale(1.2);
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    &__nav {
      gap: 58px;
    }
  }

  .socials {
    gap: 28px;
  }
}
