.gallery {
  display: flex;
  flex-wrap: wrap;

  &__image {
    &--mobile {
      width: 50%;
    }

    &--desktop {
      display: none;
    }
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    &__image {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
        width: 25%;
      }
    }
  }
}
